body{

font-family: Arial;

margin:0;

background:#f2f2f2;

}


header{

background:green;

color:white;

text-align:center;

padding:25px;

font-size:28px;

font-weight:bold;

}


nav{

background:black;

text-align:center;

padding:12px;

}


nav a{

color:white;

margin:15px;

text-decoration:none;

font-size:18px;

}


nav a:hover{

color:yellow;

}


section{

background:white;

margin:20px;

padding:20px;

border-radius:10px;

box-shadow:0px 0px 10px gray;

}


h2{

color:green;

}


table{

width:100%;

border-collapse:collapse;

}


table,th,td{

border:1px solid black;

padding:10px;

text-align:center;

}


button{

background:green;

color:white;

border:none;

padding:10px 20px;

margin-top:10px;

font-size:16px;

cursor:pointer;

border-radius:5px;

}


button:hover{

background:darkgreen;

}


footer{

background:black;

color:white;

text-align:center;

padding:15px;

margin-top:20px;

}
