body{
font-family: Arial;
background:#f5f5f5;
margin:0;
}

header{
background:green;
color:white;
padding:20px;
text-align:center;
}

section{
background:white;
margin:20px;
padding:20px;
border-radius:10px;
}

footer{
background:black;
color:white;
text-align:center;
padding:10px;
}
